<h1><%= "#{@target_day.year}年#{@target_day.month}月#{@target_day.day}日" %>のトレーニング履歴</h1>
<% if @workouts_this_day.blank? %>
    <h2>この日のトレーニング履歴は記録されていません。</h2>
<% else %>
    <% @workouts_this_day.each do |workout| %>
        <div class="record">
            <span>トレーニング項目: <%= workout.name %></span>
            <span>セット: 第<%= workout.sets %>セット</span>
            <span>重量: <%= workout.weight %>kg</span>
            <span>回数: <%= workout.reps %>回</span>
            <span>トレーニング速度: <%= workout.speed %>秒</span>
            <span>運動強度: <%= workout.level %></span>
            <span>消費カロリー: <%= workout.calories %></span>

            <span><%= link_to("編集", edit_workout_path(workout, referrer: request.original_url)) %></span>
            <span><%= link_to("削除", workout_path(workout, referrer: request.original_url), data: { turbo_confirm: "本当に削除しますか？", turbo_method: "delete" }) %></span>
        </div>
    <% end %>
<% end %>