
<h1><%= "#{@target_month.year}年の#{@target_month.month}月の" %>トレーニング記録</h1>


<% if @workouts_this_month.blank? %>
    <p>今月はまだトレーニングが記録されていません</p>
<% else %>
    <h3><%= "#{@target_month.year}年#{@target_month.month}月" %>の消費カロリー合計</h3>
    <p><%= @calories_this_month %>kcal</p>

    <div class='month-calendar'>
        <%= month_calendar(attribute: :date, start_date: @target_month, events: @workouts_this_month) do |date, workouts| %>
            <p><%= link_to(date.day, "/workouts/calendar/day/#{params[:id]}/#{date}") %></p>
            <% if workouts.present? %>
                <% calories_day = 0 %>
                <% i = 0 %>
                <% workouts.each do |workout| %>
                    <% calories_day += workout.calories %>
                    <% i += 1 %>
                <% end %>
                <p class="calories-display"><%= calories_day.round %></p>
                <p class="calories-display">(kcal)</p>

            <% end %>

        <% end %>
    </div>

<% end %>

