<style>
  .custom-yearly-calendar table, .custom-yearly-calendar td, .custom-yearly-calendar th {
    border: none;
    padding: 0;
    text-align: center;
  }
  .simple-calendar .day{
    height: auto;
  }
</style>


<h1>年間トレーニングカレンダー</h1>

<div class="custom-yearly-calendar">
    <% 11.downto(0) do |i| %>
        <% start_date = @end_month.prev_month(i) %>

        <div class="custom-month-calendar">
            <%= link_to("#{start_date.year}年 #{start_date.month}月", "/workouts/calendar/month/#{start_date}") %>

            <%= month_calendar(attribute: :date, start_date: start_date, events: @workouts) do |date, workouts| %>
                <%= date.day %>
            <% end %>

        </div>
    <% end %>
    
    <div class="block center">
      <%= link_to "1年前を表示", "/workouts/calendar/year?date=#{@end_month.last_year}", class: "mini-button" %>
      <%= link_to "1年後を表示", "/workouts//calendar/year?date=#{@end_month.next_year}", class: "mini-button" %>
    </div>
    <div class="clear"></div>
</div>