
<h1><%= "#{@target_month.year}年の#{@target_month.month}月の" %>トレーニング記録</h1>


<% if @workouts_this_month.blank? %>
    <p>今月はまだトレーニングが記録されていません</p>
<% else %>
    <h3><%= "#{@target_month.year}年#{@target_month.month}月" %>の消費カロリー合計</h3>
    <p><%= @calories_this_month %>kcal</p>

    <%= month_calendar(attribute: :date, start_date: @target_month, events: @workouts_this_month) do |date, workouts| %>
        <%= link_to(date.day, "/workouts/calendar/day/#{params[:id]}/#{date}") %>
        <% if workouts.present? %>
            <% calories_day = 0 %>
            <% i = 0 %>
            <% workouts.each do |workout| %>
                <% calories_day += workout.calories %>
                <% i += 1 %>
            <% end %>
            <%= "データ数:#{i}, 消費カロリー:#{calories_day}" %>
        <% end %>

    <% end %>

<% end %>

