<div class="users_show">
    <h1>ユーザー情報確認</h1>

    <div class="field">
        <div class="field-label"><span>名前</span></div>
        <div class="field-content"><%= @user.name %></div>
    </div>

    <div class="field">
        <div class="field-label"><span>メールアドレス</span></div>
        <div class="field-content"><%= @user.email %></div>
    </div>

    <div class="field">
        <div class="field-label"><span>身長(cm)</span></div>
        <div class="field-content"><%= @user.height %></div>
    </div>

    <div class="field">
        <div class="field-label"><span>体重(kg)</span></div>
        <div class="field-content"><%= @user.weight %></div>
    </div>

    <div class="field">
        <div class="field-label"><span>年齢</span></div>
        <div class="field-content"><%= @user.age %></div>
    </div>

    <div class="field">
        <div class="field-label"><span>性別</span></div>
        <div class="field-content"><%= @user.sex %></div>
    </div>

    <div class="field">
        <div class="field-label"><span>パスワード(8文字以上)</span></div>
        <div class="field-content">**********</div>
        <p>(上記の文字数と実際のパスワードの文字数は無関係です)</p>
    </div>

    <%= link_to "登録内容変更はこちら", edit_user_path, class: "button orange-gradient" %>

    <h2>アカウント消去</h2>

    <p class="text">
        下記のアカウント消去ボタンを押すとアカウント消去をすることができます。
        アカウント消去をした場合、登録されているアカウントの情報やトレーニングデータなども消去され、それらを復元することはできなくなります。
        上記事項を確認の上アカウント消去をご希望される場合は、「アカウント消去」ボタンを押してください。
    </p>

    <%= link_to("アカウント削除", user_path(@user, referrer: request.original_url), data: { turbo_confirm: "本当アカウントのを削除しますか？\nこの操作を行うと登録されている全てのデータが消去され、復元することはできません。\n実行しますか？", turbo_method: "delete" }, class: "button red-gradient") %>

</div>