<!DOCTYPE html>
<html>
  <head>
    <title>MuscleCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :extra_stylesheets %>
  </head>

  <body>
    
    <div class="header">
      <div class="header-left">
        <%= link_to("MuscleCalculator", "/") %>
      </div>
      <div class="header-right">
        <% if @current_user %>
            <%= link_to("トレーニング投稿", new_workout_path) %>
            <%= link_to("エクササイズ一覧", exercises_path) %>
            <%= link_to("マイページ", "/users/#{@current_user.id}") %>
            <%= link_to("ログアウト", "/users/sign_out", data: {"turbo-method": :delete}) %>
        <% else %>
            <%= link_to("MuscleCalculatorとは", "/about") %>
            <%= link_to("ログイン", "/users/sign_in") %>
            <%= link_to("新規登録", new_user_path) %>
        <% end %>
      </div>
    </div>

    <% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>
    
    <%= yield %>

    <div class="footer">
      <div class="footer-left">
        <%= link_to("MuscleCalculator", "/") %>
      </div>
      <div class="footer-right">
        <%= link_to("カロリー計算について", "/exercise/index") %>
      </div>
    </div>

  </body>
</html>
