<!DOCTYPE html>
<html>
  <head>
    <title>MuscleCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "font", "data-turbo-track": "reload", as: "style" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", as: "style" %>
    <%= stylesheet_link_tag "calendar", "data-turbo-track": "reload", as: "style" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <header>
      <%= link_to "/" do %>
        <%= image_tag "logo", alt: "logo", class: "logo" %>
      <% end %>

      <!-- モバイル表示用のハンバーガーメニュー -->
      <div class="hamburger-button">
        <span></span>
        <span></span>
        <span></span>
        <span class="hamburger-button-text">Menu</span>
        <!-- ここにハンバーガーメニューの項目を6個追加 -->
      </div>
      <div class="hamburger-menu-items">
        <!-- ハンバーガーボタンを押した後に表示するアイテム -->
        <ul>
          <% if @current_user %>
            <li class="hamburger-item">メニュー</li>
            <li class="hamburger-item"><%= link_to "マイページ", "/users/mypage" %></li>
            <li class="hamburger-item"><%= link_to "新規投稿", new_workout_path %></li>
            <li class="hamburger-item"><%= link_to "トレーニング記録", "/workouts/calendar/year" %></li>
            <li class="hamburger-item"><%= link_to "アカウント情報", user_path(@current_user) %></li>
            <li class="hamburger-item"><%= link_to "ログアウト", "/users/sign_out", data: {"turbo-method": :delete} %></li>
          <% else %>
            <li class="hamburger-item">メニュー</li>
            <li class="hamburger-item"><%= link_to "ログイン", "/users/sign_in" %></li>
            <li class="hamburger-item"><%= link_to "新規登録", new_user_path %></li>
          <% end %>
        </ul>
      </div>
      
      <div class="clear"></div>
    </header>

    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>

    
    <!-- 画面下部のナビゲーション -->
    <nav class="bottom-nav">
      <% if @current_user %>
        <%= link_to "マイページ", "/users/mypage" %>
        <%= link_to "新規投稿", new_workout_path %>
      <% else %>
        <%= link_to "ログイン", "/users/sign_in" %>
        <%= link_to "新規登録", new_user_path %>
      <% end %>
    </nav>

    <!--メインの表示部分 -->
    <main>

      <!-- メインコンテンツ部分 -->
      <div class="main-content">
        <%= yield %>
      </div>

      <!-- PC表示用のサイドバー -->
      <aside class="sidebar pc-only">
        <% if @current_user %>
          <ul>
            <li class="sidebar-item sidebar-heading">メニュー</li>
            <li class="sidebar-item"><%= link_to "マイページ", '/users/mypage' %></li>
            <li class="sidebar-item"><%= link_to "新規投稿", new_workout_path %></li>
            <li class="sidebar-item"><%= link_to "トレーニング記録", "/workouts/calendar/year" %></li>
            <li class="sidebar-item"><%= link_to "アカウント情報", user_path(@current_user) %></li>
            <li class="sidebar-item"><%= link_to "", "" %></li>
            <li class="sidebar-item"><%= link_to "", "" %></li>
            <li class="sidebar-item"><%= link_to "ログアウト", "/users/sign_out", data: {"turbo-method": :delete} %></li>
          </ul>
        <% else %>
          <ul>
            <li class="sidebar-item sidebar-heading">メニュー</li>
            <li class="sidebar-item"><%= link_to "ログイン", "/users/sign_in" %></li>
            <li class="sidebar-item"><%= link_to "新規登録", new_user_path %></li>
          </ul>
        <% end %>
      </aside>

      <div class="clear"></div>

    </main>
    


    <div class="footer">

      <%= link_to "/", class: "footer-logo" do %>
        <%= image_tag "logo", alt: "logo", class: "logo" %>
      <% end %>

      <%#
      <div class="footer-items">
        後々、フッターにアイテムを追加する用の要素
      </div>
      %>
    </div>
  </body>
</html>
